commands:
  update_pip:
    command: "/opt/python/run/venv/bin/pip install --upgrade pip"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings.staging

container_commands:

services:
  sysvinit:
    rabbitmq-server:
      enabled: "true"
      ensureRunning: "true"
    celeryd:
      enabled: "true"
      ensureRunning: "true"
      sources:
        - "selstagram2"
        - "instagram"